 
<ion-content [fullscreen]="true">
  <ion-fab style="margin-top:3em;" vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button 
     color="dark"
  size="small"
  (click)="goBack()">

      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div style="padding: 2em;margin-top:4em;">

    

    <h2>Estadisticas</h2>
    
    <ion-card>
      <h2>Visitas</h2>
      
      <p>10</p>
    </ion-card>
    
    <ion-card>
      <h2>Clientes</h2>

      <p>10</p>
    </ion-card>
  </div>
    
</ion-content>



