<ion-content >
  <div>

    <h2>Registar por:</h2>
    <ion-row>
      <ion-col>
        <ion-card>
          <p>
            Correo
          </p>
          
        </ion-card>
    </ion-col>
  </ion-row>
  
  <p>
    Código
  </p>
</div>



<div>

</div>
</ion-content>

 


<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button color="close" expand="full" (click)="goBack()">Cancelar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="success" expand="full" (click)="create()">Crear</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>