

<ion-content [fullscreen]="true">

  <div style="padding: 1em;margin-top: 2.4em;">
    <h2>Agregar Objetivo de crecimiento</h2>

    <!-- <div
      style="background-color: green; width: 4em; height: 4em; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
      <ngx-emoji (click)="openEmojiPicker()" [emoji]="selectedEmoji" set="apple" [size]="40"></ngx-emoji>
    </div>

    <div *ngIf="showEmojiPicker" class="emoji-picker">
      <emoji-mart [showPreview]="false"   set="apple" (emojiSelect)="addEmoji($event)">
      </emoji-mart>
    </div> -->
  
    <ion-input class="custom-input" style="margin-top:3em;"    [(ngModel)]="name" placeholder="Agrega una descripción para recordar este objetivo">
    </ion-input>

    <p>Selecciona un tipo:</p>
    <div style="margin-top: 1em;" class="chip-container-horizontal">
      <ion-chip [ngClass]="type == 'savings' ? 'active' : ''" (click)="setType('savings')">
        <i class="fa-solid fa-vault"></i> &nbsp; Ahorro</ion-chip>
  
      <ion-chip [ngClass]="type == 'goals' ? 'active' : ''" (click)="setType('goals')">
        <i class="fa-solid fa-bullseye"></i>  &nbsp; Objetivo</ion-chip>
  
      <ion-chip [ngClass]="type == 'investments' ? 'active' : ''" (click)="setType('investments')">
        <i class="fa-solid fa-money-bill-trend-up"></i> &nbsp; Inversion</ion-chip>
    </div>
  
    <ion-item lines="none" style="margin-top: 1em;">
      <ion-label position="fixed"><i class="fa-solid fa-dollar-sign"></i> Monto</ion-label>
      <ion-input [(ngModel)]="amount" placeholder="Ingresa cantidad" type="tel" style="margin-left: auto;text-align: right;"></ion-input>
    </ion-item>
  
    <ion-item style="margin-top: 3em;" lines="none">
      <ion-label position="fixed"><i class="fa-solid fa-layer-group"></i> Categorias</ion-label>
      <ion-label  style="text-align: right;" (click)="openCategorySelector()" >Editar</ion-label>
    </ion-item>

      <div *ngIf="categoriesSelected">
        <ion-chip *ngFor="let category of categoriesSelected">
          <ngx-emoji [emoji]="category.emoji" set="apple" [size]="20">
          </ngx-emoji> &nbsp;{{category.name}}
        </ion-chip>
      </div>
  
    <ion-chip (click)="setCustom()" style="margin-top: 2em;"><i class="fa-solid fa-gears"></i> &nbsp; Personalizar</ion-chip>
  
    <div *ngIf="custom_items">
      <ion-card>
        <p>Pagar por mensualidades</p>
        60
  
        checkbox // Agregar un "gasto" recurrente para cumplir mi objetivo
  
      </ion-card>
  
      <ion-card style="text-align: center;">
        <p>Cumplirias</p>
        <h2>Tu objetivo el</h2>
        <h1>23 de marzo del 2027</h1>
      </ion-card>
    </div>
  
 
  </div>


</ion-content>


<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button expand="full" color="danger" shape="round" style="margin-top: 2.3em;" (click)="close()">
        &nbsp;
        Cerrar</ion-button>
    </ion-col>
    <ion-col>

      <ion-button
      *ngIf="!data"
      [disabled]="name.length < 4 || amount == 0" (click)="create()"
      expand="full" color="dark" shape="round" style="margin-top: 2.3em;">
        
      <i class="fa-solid fa-plus"></i>
        &nbsp;
        Agregar</ion-button>

        <ion-button 
        *ngIf="data"
        expand="full" color="dark" shape="round" style="margin-top: 2.3em;" (click)="update()">
        <i class="fa-solid fa-pen"></i> &nbsp; Editar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>