<ion-content [fullscreen]="true">
  <div style="padding: 1em;">
    <h2>Categorías</h2>

    <div>
      <ion-row class="category-row" *ngFor="let category of categories">
        <ion-col size="2" class="emoji-col">
          <ngx-emoji [emoji]="category.emoji" set="apple" [size]="30"></ngx-emoji>
        </ion-col>
        <ion-col size="10" class="text-col" (click)="mode === 'select' ? toggleSelection(category) : null">
          <h2>{{ category.name }}</h2>
          <ion-icon *ngIf="mode === 'select' && isSelected(category)" name="checkmark-circle"
            color="success"></ion-icon>
        </ion-col>
      </ion-row>
    </div>

    <!-- Picker de emojis -->
    <div *ngIf="showEmojiPicker" class="emoji-picker">
         <emoji-mart [showPreview]="true" set="apple">
      <!-- <emoji-mart [showPreview]="true" [i18n]="i18nEs" set="apple" (emojiSelect)="addEmoji($event)"> -->
      </emoji-mart>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button *ngIf="mode === 'select'" color="danger" expand="block" (click)="dismiss()">
    Guardar Selección
  </ion-button>
  <ion-button *ngIf="mode === 'view'" color="primary" expand="block" (click)="goBack()">
    Volver
  </ion-button>
</ion-footer>