
<ion-content [fullscreen]="true">
  <div style="padding: 1em;margin-top: 2.4em;">
    <div style="margin: 1em;">
      <h2>Agregar deuda</h2>
  
      <p>Nombre:</p>
     
      <div class="mb-5">
         
        <ion-input class="custom-input"   id="name" [(ngModel)]="name" placeholder="Agrega un nombre corto" class="custom-input">
        </ion-input>
      </div>

      <small>{{ name.length}}/40</small>
  
      <p style="margin-top: 2em;">Descripción (opcional):</p>
      <ion-textarea rows="8"  class="custom-input" [(ngModel)]="description" placeholder="Agrega una descripción ">
  
      </ion-textarea>
      <small>{{ description.length}}/350</small>
    </div>
    <ion-item lines="none" style="margin-top: 2em;">
      <ion-label position="fixed"><i class="fa-solid fa-dollar-sign"></i> Monto</ion-label>
      <ion-input [(ngModel)]="amount"  placeholder="Ingresa cantidad" type="tel" style="margin-left: auto;text-align: right;"></ion-input>
    </ion-item>
  
  </div>
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button expand="full" color="danger" shape="round" style="margin-top: 2.3em;" (click)="close()">
        &nbsp;
        Cerrar</ion-button>
    </ion-col>
    <ion-col>

      <ion-button
      *ngIf="!data"
      [disabled]="name.length < 4 || amount == 0" (click)="create()"
      expand="full" color="dark" shape="round" style="margin-top: 2.3em;"><i class="fa-solid fa-plus"></i>
        &nbsp;
        Agregar</ion-button>

        <ion-button
        *ngIf="data"
        expand="full" color="dark" shape="round" style="margin-top: 2.3em;" (click)="update()">
        <i class="fa-solid fa-pen"></i> &nbsp; Editar</ion-button>
    </ion-col>

  </ion-row>
</ion-footer>