 <ion-content [fullscreen]="true">
    <div style="padding: 1em;margin-top:3em">
      <h2>Crecimiento Financiero </h2>

      <ion-chip  (click)="filteredGoals('savings')"> <i class="fa-solid fa-vault"></i> &nbsp; Ahorro </ion-chip>
      <ion-chip  (click)="filteredGoals('goals')" > <i class="fa-solid fa-bullseye"></i> &nbsp; Objetivo </ion-chip>
      <ion-chip  (click)="filteredGoals('investments')" > <i class="fa-solid fa-money-bill-trend-up"></i> &nbsp; Inversión </ion-chip>
       <ion-chip *ngIf="isFiltered" (click)="clearFilter()">
      <i class="fa-solid fa-xmark"></i> &nbsp; Quitar filtro
      </ion-chip>


      <ion-row  *ngFor="let goal of goals" (click)="goToGoal(goal)">
        <ion-col size="9">
          <h2 class="capital">{{goal.name}}</h2>
          <p>{{goal.description}}</p>
          <ion-chip>
            <ion-label *ngIf="goal.type == 'saving'">Ahorro</ion-label>
            <ion-label *ngIf="goal.type == 'goal'">Objetivo</ion-label>
            <ion-label *ngIf="goal.type == 'investment'">Inversión</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="3">
          <h2 style="text-align: right;">$ {{goal.amount | number}}</h2>
        </ion-col>
      </ion-row>


      <div style="text-align: center;margin-top: 5em;" *ngIf="goals.length == 0">
        <h2>
          <i class="fa-solid fa-bullseye"></i></h2>
        <h5>No hay objetivos</h5>
        <p>Si no haz creado objetivos puedes crear uno o ver el listado de tus objetivos</p>
        <ion-button color="dark" (click)="addGoal()">Crear objetivo</ion-button>
        <ion-button color="dark" fill="clear">Leer más</ion-button>
      </div>
    
 
    
    </div>
    
</ion-content>

<ion-fab slot="fixed" horizontal="end" vertical="bottom" (click)="addGoal()">
  <ion-fab-button color="dark">
    <i class="fa-solid fa-plus"></i>
  </ion-fab-button>
</ion-fab>

