 

<ion-content [fullscreen]="true">
  
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button 
    style="margin-top: 3em;"
     color="dark"
     size="small"
     (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div style="padding:1em">
    <h2 style="margin-top:4em">Obten UPoints Plus</h2>
    <p>Más funcionalidades para ti</p>
  
  
    <div style="padding: 1em;">
      <ul>Punto uno</ul>
      <ul>Punto dos</ul>
      <ul>Punto tres</ul>
    </div>
    
  
    <div style="padding: 1em;">
      <ul>Punto uno</ul>
      <ul>Punto dos</ul>
      <ul>Punto tres</ul>
    </div>
  
  
    <ion-button expand="block" color="dark">
      Actualiza a Plus
    </ion-button>
  
    <p>Auto renovación por 199/mes hasta cancelar</p>
  </div>

</ion-content>
