 

<ion-content [fullscreen]="true">
  
  <div style="padding: 1em;margin-top:3em">
  
    <h2>Movimientos Recurrentes</h2>
    <div style="text-align: center;margin-top: 2em;" *ngIf="recurrents.length == 0">
      <h2 style="margin-top: 3em;"><i class="fa-regular fa-file-lines"></i></h2>
      <h5>No hay movimientos recurrentes</h5>
      <p>Agrega movimientos para que aparezcan aqui</p>
    </div>
  
    <ion-row *ngFor="let recurrent of recurrents" (click)="showRecurrent(recurrent)">
      <ion-col size="9">
        <h2 class="capital">{{recurrent.name}}</h2>
        <p>
          <i class="fa-solid fa-arrow-down" style="color:red" *ngIf="recurrent.type == 'expense'"></i>
          <i class="fa-solid fa-arrow-up" style="color:green"  *ngIf="recurrent.type == 'income'"></i>
          <i class="fa-solid fa-arrow-down" *ngIf="recurrent.type == 'debt'"></i>
          <i class="fa-solid fa-arrow-down" *ngIf="recurrent.type == 'goal'"></i>
          <i class="fa-solid fa-arrow-down" *ngIf="recurrent.type == 'investment'"></i>
          <i class="fa-solid fa-arrow-down" *ngIf="recurrent.type == 'saving'"></i>
            {{ recurrent.type }}
        </p>
        <p>
          
          <i class="fa-solid fa-money-bill" style="color:green"  *ngIf="recurrent.method     == 'cash'"></i>
          <i class="fa-regular fa-credit-card" *ngIf="recurrent.method  == 'credit'"></i>
          <i class="fa-regular fa-credit-card" *ngIf="recurrent.method  == 'debit'"></i>
          <i class="fa-brands fa-paypal" *ngIf="recurrent.method        == 'paypal'"></i>
          {{ recurrent.method }}
        </p>
        <p><i class="fa-solid fa-calendar-days" style="color:brown"></i> {{ recurrent.recurrence?.type }}</p>
      </ion-col>
      <ion-col size="3">
        <h2  [ngClass]="recurrent.type  == 'expense' ? 'red' : 'green'" style="text-align: right;">${{recurrent.amount | number}}</h2>
      </ion-col>
    </ion-row>
 
  </div>


</ion-content>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom" (click)="addRecurrent()">
    <ion-fab-button color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>