 

<ion-content [fullscreen]="true">
 <div style="margin-top: 2em;padding: 1em;">

  <ion-row>
    <ion-col size="10">
      <h2>Detalles del movimiento</h2>
    </ion-col>
    <ion-col size="2" (click)="presentActionSheet()">
      <h2 style="text-align: right;" ><i class="fa-solid fa-ellipsis"></i></h2>
    </ion-col>
  </ion-row>

    <p>Monto del movimiento</p>
    <h1 [ngClass]="movement.type  == 'expense' ? 'red' : 'green'" style="font-size: 2em;font-weight: bold;">$ {{movement.amount  | number}}</h1>

    <p style="margin-top: 2em">Nombre del movimiento</p>
    <h1 class="capital">{{movement.name}}</h1>

    <div *ngIf="movement.description">
      <p>Nota del movimiento</p>
      <p>{{movement.description}}</p>
    </div>

    <p  style="margin-top: 2em">Fecha del movimiento</p>
    <h2>{{movement.date | date}}</h2>

   

    <p  style="margin-top: 2em">Tipo de movimiento</p>

    <!-- <h2 *ngIf="movement.type == 'expense'"><i class="fa-solid fa-arrow-down"></i> Gasto</h2>
    <h2 *ngIf="movement.type == 'income'"> <i class="fa-solid fa-arrow-up"></i> Ingreso</h2> -->

    <!-- <p style="margin-top: 2em;font-weight: bold;">Categorias</p> -->

      <div style="margin-top: 1em;" class="chip-container-horizontal">
        <ion-chip *ngIf="movement.type == 'income'" [ngClass]="movement.type == 'income' ? 'active' : ''" >
          <ion-icon name="cash-outline"></ion-icon> &nbsp; Ingreso</ion-chip>
          
        <ion-chip *ngIf="movement.type == 'expense'"  [ngClass]="movement.type == 'expense' ? 'red-active' : ''">
          <ion-icon name="card-outline"></ion-icon> &nbsp; Gasto</ion-chip>

        <ion-chip  *ngIf="movement.type == 'debt'"  [ngClass]="movement.type == 'debt' ? 'warning-active' : ''"  ><ion-icon
            name="alert-circle-outline"></ion-icon> &nbsp; Deuda</ion-chip>

        <ion-chip *ngIf="movement.type == 'goal'"  [ngClass]="movement.type == 'goal' ? 'active' : ''"  >
          <i class="fa-solid fa-bullseye"></i> &nbsp; Objetivo</ion-chip>

        <ion-chip *ngIf="movement.type == 'investment'"  [ngClass]="movement.type == 'investment' ? 'active' : ''"  >
          <i class="fa-solid fa-money-bill-trend-up"></i> &nbsp; Inversión</ion-chip>

        <ion-chip *ngIf="movement.type == 'saving'"  [ngClass]="movement.type == 'saving' ? 'active' : ''" >
          <i class="fa-solid fa-vault"></i> &nbsp; Ahorro</ion-chip>
      </div>

      <p style="margin-top: 2em">Método de pago</p>
      
      <ion-chip>
        <i *ngIf="movement.method == 'cash'" class="fa-solid fa-wallet"></i>
        <i *ngIf="movement.method == 'bank'" class="fa-solid fa-building-columns"></i>
        <i *ngIf="movement.method == 'goal'" class="fa-solid fa-bullseye"></i>
        <i *ngIf="movement.method == 'debt'" class="fa-solid fa-handshake-simple"></i>
        <i *ngIf="movement.method == 'paypal'" class="fa-brands fa-paypal"></i>
        &nbsp;
        {{movement.method}}
      </ion-chip>
     

      <div *ngIf="movement.card">
        <p style="margin-top: 2em;">Tarjeta</p>
        <h2>
          {{card.name}} &#183;&#183;&#183;&#183; {{card.last4}}
        </h2>
      </div>

      <div *ngIf="movement.goal">
        <p style="margin-top: 2em;">Objetivo</p>
        <h2>
          {{goal.name}}
        </h2>
      </div>

      <div *ngIf="movement.debt">
        <p style="margin-top: 2em;">Deuda</p>
        <h2>
          {{debt.name}}
        </h2>
      </div>

    <div >
      <ion-chip *ngFor="let category of movement.categories">
        <ngx-emoji [emoji]="category.emoji" set="apple" [size]="20"></ngx-emoji> &nbsp;{{category.name}}
      </ion-chip>

    </div>



  </div>
</ion-content>

  <ion-footer>
    <ion-button color="danger" expand="block" (click)="goBack()">Cerrar</ion-button>
  </ion-footer>