 

<ion-content [fullscreen]="true">

  <div style="padding: 1em;margin-top:3em">
    <h2>Reportes</h2>
    <ion-card style="padding: 1em;">
      <h2>Esta quincena</h2>
      <div style="text-align: center;">
        <p>Tienes disponible </p>
        <h2>$ 7, 200</h2>
      </div>
    </ion-card>
  
    <ion-card style="padding: 1em;">
      <h2>Este mes</h2>
      <div id="chart">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
          [colors]="chartOptions.colors">
        </apx-chart>
      </div>

    </ion-card>

    <ion-card>
      <h2>Gastos</h2>
    </ion-card>

    <ion-card>
      <h2>Deudas </h2>
    </ion-card>

    <ion-card>
        <h2>Crecimiento </h2>
      <p>ahorro</p>
      <p>Objetivo</p>
      <p>Inversion</p>
    </ion-card>

    <ion-card>
      <h2>Ingresos vs gastos</h2>
    </ion-card>

    <ion-card>
      total de transacciones

      <p>transacciones de ingresos</p>
      <p>transacciones de gastos</p>
      <p>transacciones de Crecimiento</p>
      <p>transacciones de deuda</p>
    </ion-card>

  </div>

</ion-content>
