 
<ion-content [fullscreen]="true">
  <div *ngIf="step == 2" style="margin-top: 2em;padding:1em;">
    <h2>Agregar movimiento recurrente</h2>
 
  <ion-input [(ngModel)]="name" style="margin-top: 2em;"
    placeholder="Agrega una descripción para recordar este ingreso"></ion-input>

  <p>Tipo:</p>
  <div style="margin-top: 1em;" class="chip-container-horizontal">
    <ion-chip [ngClass]="type == 'income' ? 'active' : ''" (click)="setType('income')"><ion-icon
        name="cash-outline"></ion-icon> &nbsp; Ingreso</ion-chip>
    <ion-chip [ngClass]="type == 'expense' ? 'active' : ''" (click)="setType('expense')"><ion-icon
        name="card-outline"></ion-icon> &nbsp; Gasto</ion-chip>
    <ion-chip [ngClass]="type == 'debt' ? 'active' : ''" (click)="setType('debt')"><ion-icon
        name="alert-circle-outline"></ion-icon> &nbsp; Deuda</ion-chip>
    <ion-chip [ngClass]="type == 'goal' ? 'active' : ''" (click)="setType('goal')"><ion-icon
        name="flag-outline"></ion-icon> &nbsp; Objetivo</ion-chip>
    <ion-chip [ngClass]="type == 'investment' ? 'active' : ''" (click)="setType('investment')"><ion-icon
        name="bar-chart"></ion-icon>&nbsp; Inversión</ion-chip>
    <ion-chip [ngClass]="type == 'saving' ? 'active' : ''" (click)="setType('saving')">
      <ion-icon name="wallet"></ion-icon> &nbsp; Ahorro</ion-chip>

  </div>

  <p>Método de pago:</p>

  <div style="margin-top: 1em;" class="chip-container-horizontal">
    <ion-chip [ngClass]="method == 'cash' ? 'active' : ''" (click)="setMethod('cash')"><ion-icon
        name="cash-outline"></ion-icon> &nbsp; Efectivo</ion-chip>
    <ion-chip [ngClass]="method == 'bank' ? 'active' : ''" (click)="setMethod('bank')"><ion-icon
        name="card-outline"></ion-icon> &nbsp; Banco</ion-chip>
    <ion-chip [ngClass]="method == 'paypal' ? 'active' : ''" (click)="setMethod('paypal')"><ion-icon
        name="logo-paypal"></ion-icon>&nbsp; PayPal</ion-chip>
  </div>

  <div *ngIf="method == 'bank'">
    <p>Selecciona a cual tarjeta:</p>
    <ion-chip color="success" (click)="addCard()"><ion-icon name="add"></ion-icon> &nbsp; Agregar</ion-chip>
    <div class="chip-container-horizontal" style="margin-top: 1em;">
      <ion-chip *ngFor="let card of cards" (click)="selectCard(card)"
        [ngClass]="cardSelected == card.id ? 'active' : ''"> {{card.type}} **** {{card.last4}}</ion-chip>
    </div>

  </div>

  <div *ngIf="method == 'debt'">
    <p>Selecciona la deuda:</p>
    <ion-chip color="success" (click)="addDebt()"><ion-icon name="add"></ion-icon> &nbsp; Agregar</ion-chip>
    <div class="chip-container-horizontal capital" style="margin-top: 1em;">
      <ion-chip *ngFor="let debt of debts" (click)="selectDebt(debt)"
        [ngClass]="debtSelected == debt.id ? 'active' : ''">{{debt.name}}</ion-chip>
    </div>
  </div>

  <div *ngIf="method == 'goal'">
    <p>Selecciona un objetivo:</p>
    <ion-chip color="success" (click)="addGoal()"><ion-icon name="add"></ion-icon> &nbsp; Agregar</ion-chip>
    <div class="chip-container-horizontal" style="margin-top: 1em;">
      <ion-chip (click)="selectGoal(goal)" [ngClass]="goalSelected == goal.id ? 'active' : ''"
        *ngFor="let goal of goals">{{goal.name}}</ion-chip>
    </div>
  </div>

  <div style="margin-top: 2em;">
  </div>
  <ion-item lines="none">
    <ion-label position="fixed"><i class="fa-solid fa-dollar-sign"></i> Monto</ion-label>
    <ion-input (ionInput)="validateInput($event)" [(ngModel)]="amount" placeholder="Ingresa cantidad" type="tel"
      style="margin-left: auto;text-align: right;"></ion-input>
  </ion-item>



  <!-- <ion-item lines="none">
    <ion-label position="fixed"><i class="fa-solid fa-calendar-days"></i> Fecha</ion-label>
    <ion-datetime-button datetime="datetime" style="margin-left: auto;"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime" [(ngModel)]="selectedDateTime" presentation="date-time" doneText="Aceptar"
          cancelText="Cancelar" display-format="DD/MM/YYYY HH:mm" show-default-buttons="true"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item> -->

  <ion-item style="margin-top: 3em;" lines="none">
    <ion-label position="fixed"><i class="fa-solid fa-layer-group"></i> Categorias</ion-label>
    <ion-label style="text-align: right;" (click)="openCategorySelector()">Editar</ion-label>
    <p> </p>
  </ion-item>

  <div *ngIf="categoriesSelected">
    <ion-chip *ngFor="let category of categoriesSelected">
      <ngx-emoji [emoji]="category.emoji" set="apple" [size]="20"></ngx-emoji> &nbsp;{{category.name}}</ion-chip>
  </div>


 

  <!-- <ion-card style="padding: 1em;">
    <h2> <i class="fa-solid fa-flask"></i> En Resumen</h2>
    <p>{{ textInfo}}</p>
  </ion-card> -->

  </div>

  <div *ngIf="step == 1" style="margin-top: 2em;padding:1em;">
    <h2>Agrega un movimiento recurrente</h2>

    <ion-item lines="none" style="margin-top: 2em;">
      <ion-select [(ngModel)]="type_recurrent" label="¿Cada cuánto?" placeholder="Selecciona el tipo">
        <ion-select-option value="daily">   Diario </ion-select-option>
        <ion-select-option value="weekly">  Semanal </ion-select-option>
        <ion-select-option value="fornite"> Quincenal </ion-select-option>
        <ion-select-option value="monthly"> Mensual </ion-select-option>
        <ion-select-option value="custom">  Personalizado </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none" style="margin-top: 2em;" *ngIf="type_recurrent == 'custom'"> 
    
      <ion-select [(ngModel)]="days_recurrent" label="Selecciona el dia" multiple="true" placeholder="Selecciona el dia">
        <ion-select-option value="monday">  Lunes </ion-select-option>
        <ion-select-option value="tuesday">  Martes </ion-select-option>
        <ion-select-option value="wednesday"> Miercoles </ion-select-option>
        <ion-select-option value="thursday"> Jueves </ion-select-option>
        <ion-select-option value="friday"> Viernes </ion-select-option>
        <ion-select-option value="saturday"> Sábado </ion-select-option>
        <ion-select-option value="sunday"> Domingo </ion-select-option>

      </ion-select>
    </ion-item>

  </div>
  
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>

      <ion-button *ngIf="step == 1" expand="full" color="danger" shape="round" style="margin-top: 2.3em;" (click)="close()">
        &nbsp;
        Cerrar</ion-button>

      <ion-button *ngIf="step == 2" expand="full" color="danger" shape="round" style="margin-top: 2.3em;" (click)="back()">
        &nbsp;
        regresar</ion-button>
    </ion-col>
    <ion-col>


      <ion-button *ngIf="step == 1"   expand="full" color="dark" shape="round"
      (click)="next()"
        style="margin-top: 2.3em;" >
        Siguiente &nbsp;
        <ion-icon name="arrow-forward-outline" ></ion-icon>
          </ion-button>

      <ion-button 
      *ngIf="step == 2"
      [disabled]="name.length < 2 || amount == 0"
      (click)="add()"
      expand="full" color="dark" shape="round" style="margin-top: 2.3em;" (click) ="add()"><ion-icon name="add"></ion-icon>
        &nbsp;
        Agregar</ion-button>

    </ion-col>
  </ion-row>
</ion-footer>