.active {
    background-color: #006b44;
    color: white;
}

.red-active {
    background-color: rgba(224, 71, 51, 0.925);
    color: white;
}

.warning-active {
    background-color: orange;
    color: white;
}

.method-active {
    background-color: #00256b;
    color: white;
}

.chip-container-horizontal {
    overflow-x: auto;
    white-space: nowrap;
}