/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
@import '@ctrl/ngx-emoji-mart/picker';

.danger-button{
    color: red !important;
}

.input-custom {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    appearance: none;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: #4a5568;
    line-height: 1.25rem;
    outline: none;
}

.input-custom:focus {
    box-shadow: 0 0 5px rgba(66, 153, 225, 0.5);
}

.capital:first-letter{
    text-transform: capitalize;
}

.red{
    color: red;
}

.green{
    color: green;
}


ion-item {
    --background: transparent !important;
    /* Estilo principal para fondo transparente */
    --ion-item-background: transparent !important;
    /* Fondo específico de Ionic */
}

@media (prefers-color-scheme: dark) {
    .apexcharts-legend-text {
        color: var(--legend-color-dark) !important;
    }
}

@media (prefers-color-scheme: light) {
    .apexcharts-legend-text {
        color: var(--legend-color-light) !important;
    }
}

ion-tab-bar {
    border-top: none !important;
     box-shadow: none !important;
 }

/* Estilo general */
ion-tab-bar {
    --ion-color-selected: var(--dynamic-color);
}

/* Tema claro */
body.light {
    --dynamic-color: black;
    /* Color para íconos y etiquetas */
}

/* Tema oscuro */
body.dark {
    --dynamic-color: white;

    ion-item{
        background-color: transparent !important;
    }
    /* Color para íconos y etiquetas */
}

.custom-input {
    margin: 0.6em 0em;
    /* Margen externo */
    padding: 0.8em 0.6em;
    /* Más espacio interno (padding) */
    background-color: #2b2b2b;
    /* Fondo oscuro */
    border: 1px solid #d1d5db;
    /* Borde */
    color: #b7b9be;
    /* Texto */
    font-size: 0.875rem;
    /* Tamaño de texto */
    border-radius: 0.375rem;
    /* Bordes redondeados */
    width: 100%;
    /* Ocupa todo el ancho disponible */
    transition: border-color 0.2s, box-shadow 0.2s;

    &:focus {
        outline: none;
        border-color: #3b82f6;
        /* Color del borde al enfocar */
        box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
        /* Efecto al enfocar */
    }

    &::placeholder {
        color: #9ca3af;
        /* Color del texto placeholder */
        padding-left: 0.6em;
        /* Opcional: Agrega padding solo al placeholder */
    }
}

ion-input::part(native) {
    padding: 0.8em 0.6em;
    /* Agrega espacio interno */
    border: none;
    /* Asegúrate de que el borde lo controle el contenedor */
    color: #b7b9be;
    /* Texto */
}

ion-input.custom-input {
    --padding-start: 0.6em;
    /* Ajusta el padding izquierdo */
    --padding-end: 0.6em;
    /* Ajusta el padding derecho */
    --padding-top: 0.8em;
    /* Ajusta el padding superior */
    --padding-bottom: 0.8em;
    /* Ajusta el padding inferior */
    background-color: #2b2b2b;
    /* Fondo */
    border: 1px solid #d1d5db;
    /* Borde */
    border-radius: 0.375rem;
    /* Bordes redondeados */
    font-size: 0.875rem;
    /* Tamaño de texto */
    color: #b7b9be;
    /* Color del texto */
}

.active {
    background-color: #006b44;
    color: white;
}

.red-active {
    background-color: #e04733ec;
    color: white;
}

.blue-active{
    background-color: #00256b;
    color: white;
}

.method-active{
    border: 3px solid #006b44;
}

.warning-active {
    background-color: #ffa500;
    color: white;
}
.chip-container-horizontal {
    overflow-x: auto;
    white-space: nowrap;
}